:root {
    /* CSS HEX */
    --berry-blush: #A22973ff;
    --dark-raspberry: #87204Fff;
    --cerulean: #4A7B8Aff;
    --grape-soda: #7B4173ff;
    --dark-teal: #0C3538ff;

    /* CSS HEX */
    --mauve-shadow: #51434Eff;
    --slate-grey: #768A9Cff;
    --fuchsia-plum: #BA4B8Fff;
    --carbon-black: #191A19ff;
    --gunmetal: #303337ff;
}

@font-face {
    font-family: "Wilhelm Klingspor Gotisch";
    src: url(fonts/Wilhelm\ Klingspor\ Gotisch\ Regular.ttf);
}

@font-face {
    font-family: "Medodica Regular";
    src: url(fonts/MedodicaRegular.otf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Medodica Regular", sans-serif;
}

main {
    height: 95%;
    width: 90%;
    overflow-y: auto;
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    margin: auto;
    border-radius: 1rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--dark-teal);
}

aside {
    width: auto;
    position: fixed;

    img {
        width: 100vw;
    }
}

.visible {
    display: block;
}

.hidden {
    display: none;
    pointer-events: none;
}

.password-container {
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.password-hint {
    font-family: 'Wilhelm Klingspor Gotisch', cursive;
    font-size: 50px;
}

.password-placeholder {
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--fuchsia-plum);
    animation: passwordGlow 1s ease-in-out infinite alternate;
    font-size: 2rem;
}

#password-input {
    width: auto;
    height: 40px;
    font-size: 20px;
    outline: 0;
    border: 0;
    background-color: transparent;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    margin: 0 auto;
    top: -32px;
    /** height of the placeholder text **/
    left: 0;
    right: 0;
    bottom: 0;
}

@keyframes passwordGlow {
    from {
        text-shadow: none;
    }

    to {
        text-shadow: 0 0 20px var(--berry-blush);
    }
}

[id$="-voters"] {
    margin-top: 10px;
}

.total-votes {
    margin: 0;
}

#password-input-decorator {
    width: 0;
    height: 2px;
    border-bottom: 1px solid var(--berry-blush);
    margin: 0 auto;
    transition: width 0.1s ease-in-out;
}

.password-error {
    animation: shake 0.2s ease-in-out 0s 2;
}


@keyframes shake {
    0% {
        margin-left: 0rem;
    }

    25% {
        margin-left: 0.5rem;
    }

    75% {
        margin-left: -0.5rem;
    }

    100% {
        margin-left: 0rem;
    }

}


@media (min-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        position: fixed;
        justify-content: space-between;
        overflow-y: hidden;
        font-family: "Medodica Regular", sans-serif;
    }

    main {
        height: 100%;
        width: 60%;
        overflow-y: auto;
        position: initial;
    }

    aside {
        width: auto;
        position: initial;

        img {
            height: 100%;
            width: auto;
        }
    }
}