:root {
    /* CSS HEX */
    --berry-blush: #A22973ff;
    --dark-raspberry: #87204Fff;
    --cerulean: #4A7B8Aff;
    --grape-soda: #7B4173ff;
    --dark-teal: #0C3538ff;

    /* CSS HEX */
    --mauve-shadow: #51434Eff;
    --slate-grey: #768A9Cff;
    --fuchsia-plum: #BA4B8Fff;
    --carbon-black: #191A19ff;
    --gunmetal: #303337ff;
}

@font-face {
    font-family: "Wilhelm Klingspor Gotisch";
    src: url(../fonts/Wilhelm\ Klingspor\ Gotisch\ Regular.ttf);
}

@font-face {
    font-family: "Medodica Regular";
    src: url(../fonts/MedodicaRegular.otf);
}

* {
    box-sizing: border-box;
    font-family: "Medodica Regular", sans-serif;
}

button {
    background: var(--cerulean);
    border: medium none;
    border-spacing: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    box-shadow: 0 0 20px var(--berry-blush);
    border-radius: 1rem;
    padding: 10px 20px;
    color: #ffffff;
}

button.btn-rounded {
    border-radius: 50%;
    padding: 5px;
    line-height: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Medodica Regular", sans-serif;
    background-color: var(--carbon-black);
}

main {
    overflow-y: auto;
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--dark-teal);
}

aside {
    width: auto;
    position: fixed;

    span {
        position: absolute;
        z-index: 1;
        left: inherit;
        top: 0;
        bottom: 0;
        right: 0;
    }

    img {
        width: 100vw;
    }
}

.btn-submit-pw {
    margin: 0 auto;
}

.mike-loading {
    width: 100vw;
    height: 100vh;
    background-color: var(--carbon-black);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.only-for-mobile {
    width: 100vw;
    height: 100vh;
    background-color: var(--carbon-black);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    gap: 2rem;
    color: #ffffff;
}

.visible {
    display: block;
}

.hidden {
    display: none;
    pointer-events: none;
}

.password-container {
    margin: 20px auto;
    text-align: center;
    position: relative;
}

.password-hint {
    font-family: 'Wilhelm Klingspor Gotisch', cursive;
    font-size: 50px;
}

.has-right-password {
    text-align: center;
}

.material-symbols-outlined {
    font-size: 12px;
}

.password-placeholder {
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--fuchsia-plum);
    animation: passwordGlow 1s ease-in-out infinite alternate;
    font-size: 2rem;
}

#password-input {
    width: auto;
    height: 40px;
    font-size: 20px;
    outline: 0;
    border: 0;
    background-color: transparent;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    margin: 0 auto;
    top: -32px;
    left: 0;
    right: 0;
    bottom: 0;
}

.voters-list-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 90%;
}

.voters-modal > .modal-content {
    max-height: 80vh;
    overflow-y: auto;
}

[id*="grouped"] {
    display: flex;
    align-items: center;
    gap: 8px;
}

[id*="age-group-section-"] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    > [id*="grouped"] {
        margin-bottom: 10px;
    }
}

.modal-outer {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    &.visible {
        display: flex;
    }
}

.modal-content {
    display: flex;
    background-color: var(--gunmetal);
    margin: auto 20px;
    padding: 20px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: #ffffff;

    img {
        width: 60%;
    }

    p {
        font-size: 24px;
        text-align: center;
    }

    .border-top-right {
        position: absolute;
        top: 0;
        right: 0;
        height: 1px;
        width: 30px;
        border-top: 10px solid var(--fuchsia-plum);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 20px;
            width: 30px;
            border-right: 10px solid var(--fuchsia-plum);
        }
    }

    .border-top-left {
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        width: 30px;
        border-top: 10px solid var(--fuchsia-plum);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 30px;
            border-left: 10px solid var(--fuchsia-plum);
        }
    }

    .border-bottom-left {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 30px;
        border-bottom: 10px solid var(--fuchsia-plum);

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 20px;
            width: 30px;
            border-left: 10px solid var(--fuchsia-plum);
        }
    }

    .border-bottom-right {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 1px;
        width: 30px;
        border-top: 10px solid var(--fuchsia-plum);

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            height: 30px;
            width: 30px;
            border-right: 10px solid var(--fuchsia-plum);
        }
    }
}

@keyframes passwordGlow {
    from {
        text-shadow: none;
    }

    to {
        text-shadow: 0 0 20px var(--berry-blush);
    }
}

[id$="-voters"] {
    margin-top: 10px;
}

.total-votes {
    margin: 0;
}

#password-input-decorator {
    width: 0;
    height: 2px;
    border-bottom: 1px solid var(--berry-blush);
    margin: 0 auto;
    transition: width 0.1s ease-in-out;
}

.password-error {
    animation: shake 0.2s ease-in-out 0s 2;
}


@keyframes shake {
    0% {
        margin-left: 0rem;
    }

    25% {
        margin-left: 0.5rem;
    }

    75% {
        margin-left: -0.5rem;
    }

    100% {
        margin-left: 0rem;
    }

}


@media (min-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        position: fixed;
        justify-content: space-between;
        overflow-y: hidden;
        font-family: "Medodica Regular", sans-serif;
    }

    main {
        height: 100%;
        width: 60%;
        overflow-y: auto;
        position: initial;
    }

    aside {
        width: auto;
        position: initial;

        img {
            height: 100%;
            width: auto;
        }
    }
}